In [1]:
import pandas as pd

In [2]:
links = pd.read_csv('../Data/links.csv')
links.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [3]:
movies = pd.read_csv('../Data/movies.csv')
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('../Data/ratings.csv')
ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
tags = pd.read_csv('../Data/tags.csv')
tags.head(5)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [6]:
genres = set(movies['genres'].str.split('|').explode())
genres

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [7]:
dropId = []
for i in range(len(movies)):
    if movies['genres'][i] == '(no genres listed)':
        dropId.append(movies['movieId'][i])

new_movies = movies[~movies['movieId'].isin(dropId)]
new_tags = tags[~tags['movieId'].isin(dropId)]
new_ratings = ratings[~ratings['movieId'].isin(dropId)]
new_links = links[~links['movieId'].isin(dropId)]

In [8]:
new_movies['Genres_Split'] = new_movies['genres'].str.split('|')
genres_exploded = new_movies.explode('Genres_Split')

one_hot = pd.get_dummies(genres_exploded['Genres_Split'])
new_movies = new_movies.join(one_hot.groupby(one_hot.index).sum())
new_movies.drop(columns=['Genres_Split', 'genres'], inplace=True)

C:\Users\ndh01\AppData\Local\Temp\ipykernel_22284\1302614242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['Genres_Split'] = new_movies['genres'].str.split('|')

In [9]:
new_movies.to_csv('../Data_Processed/movies.csv', index=False)
new_tags.to_csv('../Data_Processed/tags.csv', index=False)
new_ratings.to_csv('../Data_Processed/ratings.csv', index=False)
new_links.to_csv('../Data_Processed/links.csv', index=False)